<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<p th:text="|Hello ${name}|" ></p>-->
<!--<th:block th:text="${name}"></th:block>-->
<!--<th:block th:text="${session.name}"></th:block>-->
<!--<th:block th:text="${#session.getAttribute('name')}"></th:block>-->
<!--<th:block th:text="${#ctx.#request.get()}"></th:block>-->

<!--<th:block th:object="${user}">-->
    <!--<p th:text="*{id}"></p>-->
    <!--&lt;!&ndash; ${user.id}&ndash;&gt;-->
    <!--<p th:text="*{name}"></p>-->
<!--</th:block>-->

<a th:href="@{/uploadfile/{id} (id=${id})}">Upload File</a>

<!--
${} - variable expression
*{} - selection expression
@{} - link (YRL) expression
~{} - fragment expression
-->

<form th:action="@{/user}" th:method="post" th:opject="${user}">
    <input type="number" name="id" th:field="*{id}" />
    <input type="text" name="name" th:field="*{name}" />
    <input type="submit" />
</form>
</body>
</html>