<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Spring Boot file upload example</h1>

<form action="/upload" method="POST" enctype="multipart/form-data" >
    <div class="form-group">
        <label>Competition input</label>
        <input type="file" name="competitionFile"/>
    </div>
    <!--<div class="form-group">-->
        <!--<label>Results input</label>-->
        <!--<input type="file" name="resultFile"/>-->
    <!--</div>-->
    <br/><br/>
    <div class="form-group">
        <button type="submit" id="upload">Upload</button>
    </div>
</form>