<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<h1>Spring Boot - Upload Status</h1>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>


<th:block th:object="${ciModel}">
    <h3 th:text="*{name}" />
    <p th:text="*{date}" />
    <p th:text="*{maxPoints}" />
    <p th:text="*{meterDistance}" />
    <p th:text="*{meterDisplacement}" />
    <p th:text="*{secondsRecord}" />

    <table>
        <tr>
            <th>NAME</th>
            <th>SEX</th>
            <th>City</th>
            <th>Region</th>
            <th>Team</th>
            <th>Result</th>
            <th>Position</th>
        </tr>
        <tr th:each="rs : *{runnerResults}">
            <td th:text="${rs}">Onions</td>
            <td th:text="${rs.sex}">2.41</td>
            <td th:text="${rs.city}">yes</td>
            <td th:text="${rs.region}">yes</td>
            <td th:text="${rs.team}">yes</td>
            <td th:text="${rs.resultSeconds}">yes</td>
            <td th:text="${rs.position}">yes</td>
        </tr>
    </table>
    <form action="uploadConfirm" >
        <input th.type="hidden" th:value="${ciModel}" name="ciModel" />
        <input type="submit" value="Confirm input"/>
    </form>
</th:block>

</body>
</html>